# Игнорировать всё
*

# Разрешаем эти файлы и папки
!.gitignore
!scr.py
!requirements.txt
!run.bat
!README.md
!research.md
!research/
!research/**

!haarcascades/
!haarcascades/haarcascade_frontalface_default.xml

!tesseract/
!tesseract/**

# Игнорировать окружения и временные файлы
env/
.env/
.venv/

__pycache__/
*.py[cod]
*.log
*.swp
.DS_Store
Thumbs.db
.idea/
.vscode/