
*


!scr.py
!requirements.txt
!run.bat
!README.md
!research.md


!haarcascades/
!haarcascades/haarcascade_frontalface_default.xml

!tesseract/
!tesseract/**


env/
.env/
.venv/


__pycache__/
*.py[cod]
*.log
*.swp
.DS_Store
Thumbs.db
.idea/
.vscode/